<header class="page-section page-header">
    <div class="container">
        <div class="navigation-container">
            <nav class="navigation util-clearfix">
                <div class="navigation-logo-container util-pull-left">
                    <img class="navigation-logo" src="/img/logo.svg"/>
                </div>
                <ul class="navigation-list list-inline util-pull-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/imprint">Imprint</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-section-content">
            <div class="page-header-description">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button id="facebook-login" class="btn btn-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </button>
                </div>
                <div class="col-md-4">
                    <button id="twitter-login" class="btn btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </button>
                </div>
                <div class="col-md-4">
                    <button id="instagram-login" class="btn btn-instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        Instagram
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
