<header class="page-section page-header">
    <div class="container">
        <div class="navigation-container">
            <nav class="navigation util-clearfix">
                <div class="navigation-logo-container util-pull-left">
                    <img class="navigation-logo" src="/img/logo.svg"/>
                </div>
                <ul class="navigation-list list-inline util-pull-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/imprint">Imprint</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-section-content">
            <div class="page-header-description">
                <div class="row">
                    <div class="col-md-12">
                        <p class="about-text">
                            Trawl offers you your socialmedia data visualised and structured.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="facebook-login-container" class="btn-login-container btn-facebook">
                        <button id="facebook-login" class="btn btn-login">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Facebook
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="twitter-login-container" class="btn-login-container btn-twitter">
                        <button id="twitter-login" class="btn btn-login">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            Twitter
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="instagram-login-container" class="btn-login-container btn-instagram">
                        <button id="instagram-login" class="btn btn-login">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            Instagram
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
