<header class="page-header">
    <div class="container">
        <div id="navigation-container" class="navigation-container"></div>
        <div class="page-section-content">
            <div class="page-header-description">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo-container">
                            <img class="logo" src="/img/logo.svg"/>
                        </div>
                        <p class="about-text">
                            Trawl offers you your socialmedia data visualised and structured.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="facebook-login-container" class="btn-login-container btn-facebook">
                        <button id="facebook-login" class="btn btn-login">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Facebook
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="twitter-login-container" class="btn-login-container btn-twitter">
                        <button id="twitter-login" class="btn btn-login">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            Twitter
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="instagram-login-container" class="btn-login-container btn-instagram">
                        <button id="instagram-login" class="btn btn-login">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            Instagram
                        </button>
                        <div class="btn-loggedin">
                            <div class="btn-loggedin-avatar">
                                <img src="">
                            </div>
                            <div class="btn-loggedin-name"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="scrolling-indicator" class="page-scrolling-indicator">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
</header>
