@mixin btn($color) {
    background: $color;

    &:hover {
        background: darken($color, 10%);
    }
}

.btn {
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;
    color: #fff;
    padding: 10px 15px;

    &:active,
    &:focus {
        outline: none;
    }
}

.btn-login {
    width: 100%;

    .fa {
        font-size: 18px;
        position: relative;
        transform: scale(1.8);
        top: 2px;
        left: -10px;
    }
}

.btn-facebook {
    .btn-login {
        @include btn(#3B5998);
    }

    &.is-loggedin {
        .btn-loggedin {
            background: darken(#3B5998, 10%);
        }
    }
}

.btn-twitter {
    .btn-login {
        @include btn(#55acee);
    }

    &.is-loggedin {
        .btn-loggedin {
            background: darken(#55acee, 10%);
        }
    }
}

.btn-instagram {
    .btn-login {
        @include btn(#8a3ab9);
    }

    &.is-loggedin {
        .btn-loggedin {
            background: darken(#8a3ab9, 10%);
        }
    }
}

.btn-loggedin {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    height: 100%;
    background-color: #bada55;
    transition: left 0.8s ease-in-out;
    text-align: left;

    @media only screen and (max-width: $screen-md) {
        text-align: center;
    }
}

.btn-login-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &.is-loggedin {
        .btn-loggedin {
            left: 0;
        }
    }

    @media only screen and (max-width: $screen-md) {
        margin: 10px 10px;
    }
}

.btn-loggedin-avatar {
    display: inline-block;
    position: relative;
    top: 7px;
    margin: 0px 8px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 2px #fff;

    & > img {
        width: 32px;
        height: 32px;
        background: #e5e5e5;
    }
}

.btn-loggedin-name {
    display: inline-block;
    position: relative;
    top: -6px;
}