@mixin btn($color) {
    background: $color;

    &:hover {
        background: darken($color, 10%);
    }
}

.btn {
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;

    &:active,
    &:focus {
        outline: none;
    }
}

.btn-facebook,
.btn-twitter,
.btn-instagram {
    width: 100%;

    .fa {
        font-size: 18px;
        position: relative;
        transform: scale(1.8);
        top: 2px;
        left: -10px;
    }
}

.btn-facebook {
    @include btn(#3B5998);
}

.btn-twitter {
    @include btn(#55acee);
}

.btn-instagram {
    @include btn(#8a3ab9);
}

@keyframes hide{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes appear{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.btn-login-container {
    .btn-loggedin {
        opacity: 0;
    }
}

.btn-login-container {
    &.is-loggedin {

        .btn-login {
            animation-name:hide;
            animation-duration:2s;
            animation-timing-function:linear;
            animation-iteration-count:1;
            animation-fill-mode: forwards;
            }

        .btn-loggedin {
            animation-name:appear;
            animation-duration:2s;
            animation-timing-function:linear;
            animation-iteration-count:1;
            animation-fill-mode: forwards;
            animation-delay: 2s;

        }
    }
}
