.map {
  width: calc(100% - 504px);
  display: inline-block;
  height: 600px;
  background-color: black;
  margin: 0 auto;
}

.map-overview {
  display: inline-block;
  width: 500px;
  height: 600px;
  background-color: #92C9CF;
}